Calisan_Denetleme_Uygulamasi.json
[
    {
        "id": "76bd3c640430c768",
        "type": "tab",
        "label": "Çalışanlar",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1708ab7aede6610c",
        "type": "tab",
        "label": "Giriş Yap",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd5ce80e1888229f",
        "type": "tab",
        "label": "Molalar",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4182bb2dd9af4b39",
        "type": "tab",
        "label": "Ana Sayfa",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "311a65859e64ca00",
        "type": "tab",
        "label": "Üretim ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da67f5c48ec6881b",
        "type": "tab",
        "label": "Arka Plan Servisleri",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14e1769a97dde582",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "5aac84f0db1d5567"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 520,
                "wires": [
                    {
                        "id": "0e9eef5ce48d97f0",
                        "port": 0
                    }
                ]
            }
        ],
        "status": {
            "x": 520,
            "y": 160,
            "wires": [
                {
                    "id": "5aac84f0db1d5567",
                    "port": 0
                },
                {
                    "id": "728731f9d5c64375",
                    "port": 0
                },
                {
                    "id": "0e9eef5ce48d97f0",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "3267e9190727998f",
        "type": "ui-base",
        "name": "UI Name",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-form",
            "ui-text-input",
            "ui-number-input",
            "ui-file-input",
            "ui-button",
            "ui-button-group",
            "ui-dropdown",
            "ui-radio-group",
            "ui-slider",
            "ui-switch",
            "ui-text",
            "ui-table",
            "ui-chart",
            "ui-gauge",
            "ui-audio",
            "ui-markdown",
            "ui-template",
            "ui-progress"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "a79f8b54d4121c14",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#7a2532",
            "primary": "#231f21",
            "bgPage": "#c7c7c5",
            "groupBg": "#c7c7c5",
            "groupOutline": "#7a2532"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "12px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "cd1bc961ce7336ef",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "berk_zamak_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "0dbf4a501e5938a3",
        "type": "ui-page",
        "name": "Çalışanlar",
        "ui": "3267e9190727998f",
        "path": "/workers",
        "icon": "account",
        "layout": "tabs",
        "theme": "a79f8b54d4121c14",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "false",
        "disabled": "false"
    },
    {
        "id": "998db8fcf09cfe92",
        "type": "ui-group",
        "name": "Çalışanlar!",
        "page": "0dbf4a501e5938a3",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b3cf40c9091fdc25",
        "type": "ui-page",
        "name": "Giriş Yap",
        "ui": "3267e9190727998f",
        "path": "/login",
        "icon": "login",
        "layout": "flex",
        "theme": "a79f8b54d4121c14",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "5c6f1f74e66f7b45",
        "type": "ui-group",
        "name": "Giriş Yap",
        "page": "b3cf40c9091fdc25",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5a99176936af56bf",
        "type": "ui-page",
        "name": "Molalar",
        "ui": "3267e9190727998f",
        "path": "/breaks",
        "icon": "alarm",
        "layout": "grid",
        "theme": "a79f8b54d4121c14",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "de828c96bcc534b9",
        "type": "ui-group",
        "name": "Ara Mola",
        "page": "5a99176936af56bf",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "184e2721adf9d64c",
        "type": "ui-page",
        "name": "Ana Sayfa",
        "ui": "3267e9190727998f",
        "path": "/main",
        "icon": "home",
        "layout": "grid",
        "theme": "a79f8b54d4121c14",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "6dc45e98444f3f43",
        "type": "ui-group",
        "name": "Hoşgeldiniz!",
        "page": "184e2721adf9d64c",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6d15cff1c413d2c3",
        "type": "ui-page",
        "name": "Üretim",
        "ui": "3267e9190727998f",
        "path": "/product",
        "icon": "plus",
        "layout": "grid",
        "theme": "a79f8b54d4121c14",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "d924164d8f1c4347",
        "type": "ui-group",
        "name": "Üretim",
        "page": "6d15cff1c413d2c3",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bd0f7070cd87736f",
        "type": "ui-group",
        "name": "İşlem Seçiniz!",
        "page": "184e2721adf9d64c",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "fefbb65cc9c03b50",
        "type": "ui-group",
        "name": "Öğle Molası",
        "page": "5a99176936af56bf",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ce9f0463e06f708d",
        "type": "ui-group",
        "name": "Günlük Üretim Miktarı",
        "page": "6d15cff1c413d2c3",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6e44aa95df4af65c",
        "type": "ui-group",
        "name": "Toplam Üretim",
        "page": "0dbf4a501e5938a3",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ce1853d11b4303d7",
        "type": "ui-group",
        "name": "Grafikler",
        "page": "0dbf4a501e5938a3",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ddcdd9c6ef97510f",
        "type": "ui-spacer",
        "group": "ce1853d11b4303d7",
        "name": "spacer",
        "tooltip": "",
        "order": 2,
        "width": "2",
        "height": "2",
        "className": ""
    },
    {
        "id": "09b702330e798815",
        "type": "ui-page",
        "name": "Arka Plan Servisleri",
        "ui": "3267e9190727998f",
        "path": "/page6",
        "icon": "home",
        "layout": "grid",
        "theme": "a79f8b54d4121c14",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 6,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "00dcce6604e97701",
        "type": "ui-group",
        "name": "Mola uzadı bildirim",
        "page": "09b702330e798815",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b9941145ff5e9f40",
        "type": "ui-group",
        "name": "  ",
        "page": "184e2721adf9d64c",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "635608747a3f4d0f",
        "type": "ui-group",
        "name": "Görevler",
        "page": "0dbf4a501e5938a3",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b33743e88a0403f3",
        "type": "ui-spacer",
        "group": "998db8fcf09cfe92",
        "name": "spacer",
        "tooltip": "",
        "order": 2,
        "width": "2",
        "height": "2",
        "className": ""
    },
    {
        "id": "ad2e9d7a9f8144a1",
        "type": "ui-group",
        "name": "Molayı Aşanlar",
        "page": "0dbf4a501e5938a3",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "84638518dc5f8f7d",
        "type": "ui-spacer",
        "group": "998db8fcf09cfe92",
        "name": "spacer",
        "tooltip": "",
        "order": 5,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "4edaa4e189da81f6",
        "type": "function",
        "z": "14e1769a97dde582",
        "name": "function 1",
        "func": "msg.payload = \"Hello World !\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 220,
        "wires": [
            [
                "728731f9d5c64375"
            ]
        ]
    },
    {
        "id": "ca81d6dbe8af892b",
        "type": "change",
        "z": "14e1769a97dde582",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NodeRed Rocks!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 380,
        "wires": [
            [
                "0e9eef5ce48d97f0"
            ]
        ]
    },
    {
        "id": "0e9eef5ce48d97f0",
        "type": "delay",
        "z": "14e1769a97dde582",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5aac84f0db1d5567",
        "type": "delay",
        "z": "14e1769a97dde582",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "4edaa4e189da81f6"
            ]
        ]
    },
    {
        "id": "728731f9d5c64375",
        "type": "delay",
        "z": "14e1769a97dde582",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "ca81d6dbe8af892b"
            ]
        ]
    },
    {
        "id": "ffdb201000e7e1ad",
        "type": "debug",
        "z": "76bd3c640430c768",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "b7946e3253608d34",
        "type": "ui-table",
        "z": "76bd3c640430c768",
        "group": "998db8fcf09cfe92",
        "name": "Çalışanlar",
        "label": "Çalışanlar",
        "order": 6,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 800,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5f568025406cb863",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "998db8fcf09cfe92",
        "name": "Çalışanları Listele",
        "label": "Çalışanları Listele",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "menu",
        "iconPosition": "left",
        "payload": "SELECT * FROM calisanlar",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "d28cd3b91b82bf92",
                "c854ac3b011f3abb"
            ]
        ]
    },
    {
        "id": "d28cd3b91b82bf92",
        "type": "debug",
        "z": "76bd3c640430c768",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 400,
        "wires": []
    },
    {
        "id": "b9a1e8f73676bb32",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 580,
        "y": 480,
        "wires": [
            [
                "ffdb201000e7e1ad",
                "b7946e3253608d34"
            ]
        ]
    },
    {
        "id": "c854ac3b011f3abb",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Çalışanları Seç",
        "func": "msg.topic = \"SELECT * FROM calisanlar\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 480,
        "wires": [
            [
                "b9a1e8f73676bb32"
            ]
        ]
    },
    {
        "id": "89e5e0acb47487cc",
        "type": "ui-form",
        "z": "76bd3c640430c768",
        "name": "Personel Kaydı Oluştur",
        "group": "998db8fcf09cfe92",
        "label": "Personel Kaydı Oluştur",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Ad-Soyad",
                "key": "ad_soyad",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Şifre",
                "key": "sifre",
                "type": "password",
                "required": false,
                "rows": null
            },
            {
                "label": "Kullanıcı Adı",
                "key": "kullanici_adi",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "ad_soyad": "",
            "sifre": "",
            "kullanici_adi": ""
        },
        "payload": "",
        "submit": "Personel Kaydı Oluştur",
        "cancel": "Vazgeç!",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 150,
        "y": 60,
        "wires": [
            [
                "6ed38d2a6dc4196e"
            ]
        ]
    },
    {
        "id": "6ed38d2a6dc4196e",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Kayıt Olma Kontrolü",
        "func": "let data = msg.payload;\n\n// 1. Boş alan kontrolü\nif (!data.ad_soyad || !data.sifre || !data.kullanici_adi) {\n    msg.payload = \"Lütfen tüm alanları doldurun!\";\n    return [null, msg];\n}\n\n// 2. SAYI KONTROLÜ (Regex)\n// Bu kural: \"Sadece harf ve boşluk olsun, sayı olmasın\" demek.\nlet harfKontrol = /^[a-zA-ZğüşıöçĞÜŞİÖÇ\\s]+$/;\n\nif (!harfKontrol.test(data.ad_soyad)) {\n    msg.payload = \"Ad Soyad sadece harflerden oluşmalıdır! Sayı giremezsiniz.\";\n    return [null, msg];\n}\n\n// 3. SQL Sorgusu\nmsg.topic = \"INSERT INTO calisanlar (ad_soyad, sifre, rol, kullanici_adi) VALUES (?, ?, ?, ?)\";\nmsg.payload = [data.ad_soyad, data.sifre, 'calisan', data.kullanici_adi];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 60,
        "wires": [
            [
                "9d86203df0fb3bdc"
            ]
        ]
    },
    {
        "id": "9d86203df0fb3bdc",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 700,
        "y": 60,
        "wires": [
            [
                "3c6081e331fbe28b"
            ]
        ]
    },
    {
        "id": "3c6081e331fbe28b",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Kayıt Başarılı/değil",
        "func": "// MySQL'den gelen hata veya başarı mesajını kontrol ediyoruz\nif (msg.error) {\n    // Eğer veritabanı \"bu kullanıcı adı zaten var\" hatası döndürürse (Error Code: ER_DUP_ENTRY)\n    if (msg.error.code === 'ER_DUP_ENTRY') {\n        msg.payload = \"Bu kullanıcı adı zaten alınmış! Lütfen farklı bir tane seçin. 👤\";\n    } else {\n        msg.payload = \"Bir hata oluştu: \" + msg.error.message;\n    }\n} else if (msg.payload && msg.payload.affectedRows > 0) {\n    msg.payload = \"Kayıt başarıyla oluşturuldu! 🎉\";\n} else {\n    msg.payload = \"Kayıt yapılamadı, lütfen tekrar deneyin. 😒\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 60,
        "wires": [
            [
                "92df27ecf4cd6521",
                "24610719c46b95be"
            ]
        ]
    },
    {
        "id": "92df27ecf4cd6521",
        "type": "ui-notification",
        "z": "76bd3c640430c768",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 1210,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8ba03428a11d28b8",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 820,
        "y": 980,
        "wires": [
            [
                "dd13571afd795d6d"
            ]
        ]
    },
    {
        "id": "73568ec5fbc2b783",
        "type": "inject",
        "z": "76bd3c640430c768",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "b5bcf01637a339d2"
            ]
        ]
    },
    {
        "id": "b7d97875f9de6526",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 500,
        "y": 720,
        "wires": [
            [
                "db72cb59d6b6ec73"
            ]
        ]
    },
    {
        "id": "b5bcf01637a339d2",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Çalışan seçme fonksiyonu",
        "func": "// Sadece isim değil, kullanıcı adını da istiyoruz!\nmsg.topic = \"SELECT idcalisanlar, ad_soyad, kullanici_adi FROM calisanlar WHERE rol != 'admin';\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "b7d97875f9de6526"
            ]
        ]
    },
    {
        "id": "db72cb59d6b6ec73",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Dropdown'a çalışanları gönderen fonksiyon",
        "func": "let calisanlar = msg.payload; \nlet liste = [];\n\ncalisanlar.forEach(function (kisi) {\n    // Kullanıcı adı varsa yanına yaz, yoksa sadece ismi göster\n    let gosterilecekIsim = kisi.ad_soyad;\n    if (kisi.kullanici_adi) {\n        gosterilecekIsim += \" (@\" + kisi.kullanici_adi + \")\";\n    }\n\n    liste.push({\n        label: gosterilecekIsim,\n        value: kisi.idcalisanlar\n    });\n});\n\nmsg.options = liste;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 720,
        "wires": [
            [
                "6920012c4bc740fc"
            ]
        ]
    },
    {
        "id": "6920012c4bc740fc",
        "type": "ui-dropdown",
        "z": "76bd3c640430c768",
        "group": "635608747a3f4d0f",
        "name": "Çalışan Seçiniz",
        "label": "Çalışan Seçiniz",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "secilen_id",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 620,
        "y": 800,
        "wires": [
            [
                "c9a72265bd787b78"
            ]
        ]
    },
    {
        "id": "027669be8d192068",
        "type": "ui-text-input",
        "z": "76bd3c640430c768",
        "group": "635608747a3f4d0f",
        "name": "Görev Giriniz",
        "label": "Görev Giriniz",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "urun_ismi",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 1070,
        "y": 800,
        "wires": [
            [
                "c18a445a0d995b68"
            ]
        ]
    },
    {
        "id": "9d42937009cf6c1a",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "635608747a3f4d0f",
        "name": "Görev Ekle",
        "label": "Görev Ekle",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "plus",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 690,
        "y": 900,
        "wires": [
            [
                "7d93332b4360e04e"
            ]
        ]
    },
    {
        "id": "7d93332b4360e04e",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Çalışana görev ekleyen fonksiyon",
        "func": "// 1. Şimdiki zamanı al (Yerel saat)\nlet d = new Date();\n\n// 2. MySQL formatına çevir (YYYY-MM-DD HH:mm:ss)\nlet yil = d.getFullYear();\nlet ay = (\"0\" + (d.getMonth() + 1)).slice(-2);\nlet gun = (\"0\" + d.getDate()).slice(-2);\nlet saat = (\"0\" + d.getHours()).slice(-2);\nlet dakika = (\"0\" + d.getMinutes()).slice(-2);\nlet saniye = (\"0\" + d.getSeconds()).slice(-2);\n\nlet tamTarih = `${yil}-${ay}-${gun} ${saat}:${dakika}:${saniye}`;\n\n// 3. Verileri al\nlet calisanId = global.get(\"secilen_id\");\nlet urun = global.get(\"urun_ismi\");\n\n// 4. SQL Sorgusu\nmsg.topic = \"INSERT INTO gorevler (idcalisanlar, urun_adi, tarih) VALUES (?, ?, ?)\";\nmsg.payload = [calisanId, urun, tamTarih];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 900,
        "wires": [
            [
                "8ba03428a11d28b8"
            ]
        ]
    },
    {
        "id": "c9a72265bd787b78",
        "type": "change",
        "z": "76bd3c640430c768",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "secilen_id",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 800,
        "wires": [
            [
                "027669be8d192068"
            ]
        ]
    },
    {
        "id": "c18a445a0d995b68",
        "type": "change",
        "z": "76bd3c640430c768",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "urun_ismi",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 800,
        "wires": [
            [
                "9d42937009cf6c1a"
            ]
        ]
    },
    {
        "id": "feb9871b740d3175",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 660,
        "y": 1960,
        "wires": [
            [
                "da296cefdcfc5f58"
            ]
        ]
    },
    {
        "id": "da296cefdcfc5f58",
        "type": "ui-table",
        "z": "76bd3c640430c768",
        "group": "6e44aa95df4af65c",
        "name": "",
        "label": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": false,
        "selectionType": "none",
        "columns": [
            {
                "title": "Personel",
                "key": "ad_soyad",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Ürün",
                "key": "urun_adi",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Toplam Miktarı",
                "key": "toplam_adet",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Son İşlem Tarihi",
                "key": "son_kayit",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 870,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "0b111d366ffef3a7",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Günlük Ürün tablosu fonksiyonu",
        "func": "let inputData = msg.payload;\nlet secilenTarih;\n\n// 1. Tarih Ayarı\nif (inputData && typeof inputData === 'string' && inputData !== \"\") {\n    secilenTarih = inputData.split('T')[0];\n} else {\n    let simdi = new Date();\n    secilenTarih = simdi.toLocaleDateString('en-CA'); \n}\n\n// 2. Tabloyu Sıfırlama (Eski veriler gitsin diye boş liste yolluyoruz)\nnode.send({ payload: [] });\n\n// 3. SQL Sorgusu (Mevzu burada kopuyor)\n// Bu sorgu: \"O günkü her çalışan ve ürün grubu için en büyük (yani en son) zamanı bul ve getir\" der.\nmsg.topic = `\n    SELECT ad_soyad, urun_adi, adet as toplam_adet, kayit_zamani \n    FROM uretim \n    WHERE (ad_soyad, urun_adi, kayit_zamani) IN (\n        SELECT ad_soyad, urun_adi, MAX(kayit_zamani) \n        FROM uretim \n        WHERE DATE(kayit_zamani) = '${secilenTarih}'\n        GROUP BY ad_soyad, urun_adi\n    )\n    ORDER BY kayit_zamani DESC`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1960,
        "wires": [
            [
                "feb9871b740d3175"
            ]
        ]
    },
    {
        "id": "9d8d79c7668a950e",
        "type": "ui-text-input",
        "z": "76bd3c640430c768",
        "group": "6e44aa95df4af65c",
        "name": "Gün Seçiniz!",
        "label": "Gün Seçiniz!",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "date",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "0b111d366ffef3a7"
            ]
        ]
    },
    {
        "id": "1f54b7a1356786dd",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 820,
        "y": 1760,
        "wires": [
            [
                "91b64ab8cbaee220",
                "480dc011cf518b08"
            ]
        ]
    },
    {
        "id": "91b64ab8cbaee220",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Grafiği formatlayan fonksiyon",
        "func": "let rows = msg.payload;\n\nif (Array.isArray(rows) && rows.length > 0) {\n    msg.payload = rows.map(satir => {\n        return {\n            \"etiket\": (satir.ad_soyad || \"İsimsiz\") + \" - \" + (satir.urun_adi || \"Ürün\"),\n            \"adet\": Number(satir.adet) || 0\n        };\n    });\n} else {\n    msg.payload = []; // Veri yoksa grafiği boşalt\n}\n\nmsg.topic = \"\"; // KRİTİK: SQL sorgusunun grafikte görünmesini engeller\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1760,
        "wires": [
            [
                "dda66588ac52ff80"
            ]
        ]
    },
    {
        "id": "dda66588ac52ff80",
        "type": "ui-chart",
        "z": "76bd3c640430c768",
        "group": "ce1853d11b4303d7",
        "name": "Günlük ürün pasta grafiği",
        "label": "Günlük ürün pasta grafiği",
        "order": 8,
        "chartType": "pie",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "etiket",
        "xAxisPropertyType": "property",
        "xAxisType": "radial",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "adet",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "12",
        "className": "",
        "interpolation": "linear",
        "x": 1030,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "480dc011cf518b08",
        "type": "debug",
        "z": "76bd3c640430c768",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 1700,
        "wires": []
    },
    {
        "id": "0c4838f7ce1b5125",
        "type": "ui-text-input",
        "z": "76bd3c640430c768",
        "group": "ce1853d11b4303d7",
        "name": "Günlük Ürün Tablosu İçin Gün Seçiniz!",
        "label": "Günlük Ürün Tablosu İçin Gün Seçiniz!",
        "order": 7,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "date",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 170,
        "y": 1760,
        "wires": [
            [
                "3c44cf85336b0534"
            ]
        ]
    },
    {
        "id": "3c44cf85336b0534",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Seçilen güne ait kayıtları getiren fonksiyon",
        "func": "let inputData = msg.payload;\nlet secilenTarih;\n\n// Gelen veri doluysa (Sayı veya String olabilir) doğrudan Date nesnesine çeviriyoruz\nif (inputData) {\n    let d = new Date(inputData);\n    \n    // Geçerli bir tarih olup olmadığını kontrol ediyoruz (Örn: Boşluk veya anlamsız metin gelirse engeller)\n    if (!isNaN(d.getTime())) {\n        let yil = d.getFullYear();\n        let ay = String(d.getMonth() + 1).padStart(2, '0');\n        let gun = String(d.getDate()).padStart(2, '0');\n        secilenTarih = `${yil}-${ay}-${gun}`;\n    }\n}\n\n// Eğer dışarıdan veri gelmediyse veya gelen veri geçerli bir tarih değilse (Hala undefined ise) bugünü al\nif (!secilenTarih) {\n    let d = new Date();\n    let yil = d.getFullYear();\n    let ay = String(d.getMonth() + 1).padStart(2, '0');\n    let gun = String(d.getDate()).padStart(2, '0');\n    secilenTarih = `${yil}-${ay}-${gun}`;\n}\n\n// SQL Sorgusu\nmsg.topic = `\n    SELECT ad_soyad, urun_adi, adet \n    FROM uretim \n    WHERE (ad_soyad, urun_adi, kayit_zamani) IN (\n        SELECT ad_soyad, urun_adi, MAX(kayit_zamani) \n        FROM uretim \n        WHERE DATE(kayit_zamani) = '${secilenTarih}'\n        GROUP BY ad_soyad, urun_adi\n    )`;\n\nmsg.payload = []; // MySQL node'u temiz bir payload ile çalışsın\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1760,
        "wires": [
            [
                "1f54b7a1356786dd"
            ]
        ]
    },
    {
        "id": "61113cfa2edc3af6",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Haftalık ürünlerin hesabını yapan fonksiyon",
        "func": "let sql = `\nWITH UretimOzet AS (\n    -- Üretim tarafını kendi içinde gruplayıp topluyoruz (Senin yazdığın kusursuz kısım)\n    SELECT ad_soyad, urun_adi, SUM(gunluk_max_adet) as haftalik_urun_toplam\n    FROM (\n        SELECT ad_soyad, urun_adi, DATE(kayit_zamani) as gun, MAX(adet) as gunluk_max_adet\n        FROM uretim\n        WHERE DATE(kayit_zamani) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)\n        GROUP BY ad_soyad, urun_adi, gun\n    ) as ic_tablo\n    GROUP BY ad_soyad, urun_adi\n),\nMesaiOzet AS (\n    -- Mesai saatlerini ürünlerden bağımsız, sadece kişiye göre hesaplıyoruz\n    SELECT ad_soyad, \n           ROUND(SUM(TIMESTAMPDIFF(SECOND, baslangic_saati, IFNULL(bitis_saati, NOW()))) / 3600, 1) as toplam_mesai\n    FROM mesai_kayitlari\n    WHERE DATE(baslangic_saati) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)\n    GROUP BY ad_soyad\n),\nMolaOzet AS (\n    -- Mola saatlerini yine tamamen bağımsız hesaplıyoruz\n    SELECT ad_soyad, \n           ROUND(IFNULL(SUM(TIMESTAMPDIFF(SECOND, mola_baslangic, IFNULL(mola_bitis, NOW()))), 0) / 3600, 1) as toplam_mola\n    FROM hareketler\n    WHERE DATE(mola_baslangic) >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)\n    GROUP BY ad_soyad\n)\n\n-- Şimdi bu hazırladığımız 3 temiz paketi kişi ismi (ad_soyad) üzerinden birleştiriyoruz\nSELECT \n    u.ad_soyad,\n    u.urun_adi,\n    u.haftalik_urun_toplam,\n    m.toplam_mesai,\n    IFNULL(mo.toplam_mola, 0) as toplam_mola\nFROM UretimOzet u\nLEFT JOIN MesaiOzet m ON u.ad_soyad = m.ad_soyad\nLEFT JOIN MolaOzet mo ON u.ad_soyad = mo.ad_soyad\nORDER BY u.haftalik_urun_toplam DESC;\n`;\n\nmsg.topic = sql;\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2220,
        "wires": [
            [
                "7f3e69feddb09e1a"
            ]
        ]
    },
    {
        "id": "7f3e69feddb09e1a",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 740,
        "y": 2220,
        "wires": [
            [
                "8ee776218d279d62",
                "8cc71268ac885f5a"
            ]
        ]
    },
    {
        "id": "3c49cf3f3977dd51",
        "type": "ui-table",
        "z": "76bd3c640430c768",
        "group": "ce1853d11b4303d7",
        "name": "Haftalık Ürün Tablosu",
        "label": "Haftalık Ürün Tablosu",
        "order": 4,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1360,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "be1d18f74adb2b66",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "ce1853d11b4303d7",
        "name": "Haftalık Ürün Raporu",
        "label": "Haftalık Ürün Raporu",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "menu",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 2220,
        "wires": [
            [
                "61113cfa2edc3af6"
            ]
        ]
    },
    {
        "id": "8ee776218d279d62",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Grafiği formatlayan fonksiyon",
        "func": "let chartData = [];\n\nif (Array.isArray(msg.payload)) {\n    msg.payload.forEach(satir => {\n        // Her bir veri parçasını açıkça paketliyoruz\n        chartData.push({\n            \"series\": satir.urun_adi,          // Renkler ürünlere göre olsun\n            \"value\": satir.haftalik_urun_toplam, // Sütun yüksekliği (adet)\n            \"label\": satir.ad_soyad            // Alt taraftaki personel ismi\n        });\n    });\n}\n\n// ÖNEMLİ: Dashboard 2.0'a veriyi direkt dizi (array) olarak gönderiyoruz\nmsg.payload = chartData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 2380,
        "wires": [
            [
                "bde287ffaffd7211"
            ]
        ]
    },
    {
        "id": "bde287ffaffd7211",
        "type": "ui-chart",
        "z": "76bd3c640430c768",
        "group": "ce1853d11b4303d7",
        "name": "Haftalık Üretim Grafiği",
        "label": "Haftalık Üretim Grafiği",
        "order": 6,
        "chartType": "bar",
        "category": "series",
        "categoryType": "property",
        "xAxisLabel": "Personeller",
        "xAxisProperty": "label",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Üretim Adedi",
        "yAxisProperty": "value",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1200,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "f475890591e561e3",
        "type": "inject",
        "z": "76bd3c640430c768",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2300,
        "wires": [
            [
                "61113cfa2edc3af6"
            ]
        ]
    },
    {
        "id": "8cc71268ac885f5a",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Haftalık Lideri gösteren fonksiyon",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    // SQL sorgumuz 'ORDER BY haftalik_urun_toplam DESC' ile bittiği için \n    // ilk sıradaki kişi her zaman en çok üretim yapandır.\n    let sampiyon = msg.payload[0]; \n    \n    // HTML şablonumuzu hazırlıyoruz\n    msg.template = `\n        <div style=\"background: linear-gradient(145deg, #2c3e50, #1a1a1a); \n                    color: #ffffff; \n                    padding: 20px; \n                    border-radius: 15px; \n                    text-align: center; \n                    \n                    border: 5px solid #800000;\">\n            \n            <h2 style=\"margin:0; font-size: 1.2em; text-transform: uppercase; letter-spacing: 2px; color: #87CEEB;\">\n                🏆 Haftalık Üretim Lideri 🏆\n            </h2>\n            \n            <h1 style=\"margin:10px 0; font-size: 2.2em; font-weight: 900; color: #800000;\">\n                ${sampiyon.ad_soyad}\n            </h1>\n            \n            <div style=\"background: #800000; padding: 10px; border-radius: 10px; display: inline-block; min-width: 200px; border: 1px solid #87CEEB;\">\n                <p style=\"margin:0; font-weight:bold; color: #87CEEB;\">${sampiyon.urun_adi} Üretimi</p>\n                <p style=\"margin:5px 0 0 0; font-size: 1.8em; font-weight: bold;\">${sampiyon.haftalik_urun_toplam} Adet</p>\n            </div>\n            \n            <p style=\"margin-top:15px; font-size: 0.9em; font-style: italic; color: #87CEEB; opacity: 0.9;\">\n                Toplam Mesai: <span style=\"color: #ffffff; font-weight: bold;\">${sampiyon.toplam_mesai} Saat</span>\n            </p>\n        </div>\n    `;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 2220,
        "wires": [
            [
                "47252378b132771e",
                "3c49cf3f3977dd51"
            ]
        ]
    },
    {
        "id": "47252378b132771e",
        "type": "ui-template",
        "z": "76bd3c640430c768",
        "group": "ce1853d11b4303d7",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div v-html=\"msg.template\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1320,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "86678385a3549ad7",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Görevleri listeleyen fonksiyon",
        "func": "msg.topic = `\n    SELECT \n        c.ad_soyad, \n        g.urun_adi, \n        DATE_FORMAT(g.tarih, '%Y-%m-%d %H:%i:%s') as tarih \n    FROM gorevler g\n    JOIN calisanlar c ON g.idcalisanlar = c.idcalisanlar\n    ORDER BY g.tarih DESC;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1480,
        "wires": [
            [
                "d98199be6d9fc0f9"
            ]
        ]
    },
    {
        "id": "d98199be6d9fc0f9",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 640,
        "y": 1480,
        "wires": [
            [
                "2e5250e96eac88cb"
            ]
        ]
    },
    {
        "id": "2e5250e96eac88cb",
        "type": "ui-table",
        "z": "76bd3c640430c768",
        "group": "635608747a3f4d0f",
        "name": "Görev Tablosu",
        "label": "Görev Tablosu",
        "order": 8,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 860,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "1dd5b1a77970e3f8",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "635608747a3f4d0f",
        "name": "Görevleri Listele",
        "label": "Görevleri Listele",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "menu",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 1480,
        "wires": [
            [
                "86678385a3549ad7"
            ]
        ]
    },
    {
        "id": "f2caf8c87aafbaa8",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "635608747a3f4d0f",
        "name": "Tabloyu Temizle",
        "label": "Tabloyu Temizle",
        "order": 9,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 1580,
        "wires": [
            [
                "c56eec5de9d64c24"
            ]
        ]
    },
    {
        "id": "c56eec5de9d64c24",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Tabloyu temizleme fonksiyonu",
        "func": "// Tabloya boş bir liste gönderiyoruz, böylece ekran temizleniyor\nmsg.payload = []; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "2e5250e96eac88cb"
            ]
        ]
    },
    {
        "id": "15d6ce8b0395e556",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "998db8fcf09cfe92",
        "name": "Tabloyu Temizle",
        "label": "Tabloyu Temizle",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "4db40d7b6d6d1dd9"
            ]
        ]
    },
    {
        "id": "4db40d7b6d6d1dd9",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Tabloyu temizleme fonksiyonu",
        "func": "// Tabloya boş bir liste gönderiyoruz, böylece ekran temizleniyor\nmsg.payload = []; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 580,
        "wires": [
            [
                "b7946e3253608d34"
            ]
        ]
    },
    {
        "id": "e90b7a705afbe265",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "6e44aa95df4af65c",
        "name": "Tabloyu Temizle",
        "label": "Tabloyu Temizle",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 2040,
        "wires": [
            [
                "0253481e7a4f5a01"
            ]
        ]
    },
    {
        "id": "0253481e7a4f5a01",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Tabloyu temizleme fonksiyonu",
        "func": "// Tabloya boş bir liste gönderiyoruz, böylece ekran temizleniyor\nmsg.payload = []; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2040,
        "wires": [
            [
                "da296cefdcfc5f58"
            ]
        ]
    },
    {
        "id": "d1029e8c4f7bb004",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "ce1853d11b4303d7",
        "name": "Tabloyu Temizle",
        "label": "Tabloyu Temizle",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 760,
        "y": 2120,
        "wires": [
            [
                "9cf6e132c9487ba0"
            ]
        ]
    },
    {
        "id": "9cf6e132c9487ba0",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Tabloyu temizleme fonksiyonu",
        "func": "// Tabloya boş bir liste gönderiyoruz, böylece ekran temizleniyor\nmsg.payload = []; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 2120,
        "wires": [
            [
                "3c49cf3f3977dd51"
            ]
        ]
    },
    {
        "id": "621bff33ca929dcd",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Mola Aşımı hesabı fonksiyonu",
        "func": "// 1. Gelen veriyi güvenli bir şekilde Date objesine çevir\nlet d = new Date(msg.payload);\n\n// 2. ÖNEMLİ: Eğer Dashboard'dan gelen tarih UTC ise yerel saate göre kayabilir.\n// Bu yüzden d.getFullYear() gibi \"yerel\" metodları kullanman çok doğru.\nlet yil = d.getFullYear();\nlet ay = (\"0\" + (d.getMonth() + 1)).slice(-2);\nlet gun = (\"0\" + d.getDate()).slice(-2);\n\nlet formatliTarih = `${yil}-${ay}-${gun}`;\n\n// 3. SQL Sorgusu\n// Sorgu içindeki 'fark' sütununu isimlendirirken Türkçe karakter ve boşluk kullandığın için \n// çift tırnak veya backtick kullanman iyi olmuş.\nmsg.topic = `\n    SELECT \n        ad_soyad, \n        mola_tipi, \n        planlanan_sure, \n        gerceklesen_sure, \n        fark AS \"Mola Ne Kadar Asildi? (dakika)\", \n        tarih \n    FROM mola_asimlari \n    WHERE DATE(tarih) = '${formatliTarih}' \n    ORDER BY tarih DESC;\n`;\n\n// Payload'u boş bir dizi yaparak MySQL node'unu hazır hale getiriyoruz\nmsg.payload = []; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2600,
        "wires": [
            [
                "12a8446ac0da3f85"
            ]
        ]
    },
    {
        "id": "12a8446ac0da3f85",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 700,
        "y": 2600,
        "wires": [
            [
                "931cdc7607e8e5cb",
                "6a9df45f67a159b2"
            ]
        ]
    },
    {
        "id": "931cdc7607e8e5cb",
        "type": "ui-table",
        "z": "76bd3c640430c768",
        "group": "ad2e9d7a9f8144a1",
        "name": "Molayı Aşanlar",
        "label": "Molayı Aşanlar",
        "order": 2,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 980,
        "y": 2600,
        "wires": [
            []
        ]
    },
    {
        "id": "78e0f97ae4b05ca6",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "ad2e9d7a9f8144a1",
        "name": "Tabloyu Temizle",
        "label": "Tabloyu Temizle",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 160,
        "y": 2700,
        "wires": [
            [
                "80b6eb84909a1d70"
            ]
        ]
    },
    {
        "id": "80b6eb84909a1d70",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Tabloyu temizleme fonksiyonu",
        "func": "// Tabloya boş bir liste gönderiyoruz, böylece ekran temizleniyor\nmsg.payload = []; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2700,
        "wires": [
            [
                "931cdc7607e8e5cb"
            ]
        ]
    },
    {
        "id": "6a9df45f67a159b2",
        "type": "debug",
        "z": "76bd3c640430c768",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 2520,
        "wires": []
    },
    {
        "id": "f339dcd7d37ff273",
        "type": "ui-text-input",
        "z": "76bd3c640430c768",
        "group": "ad2e9d7a9f8144a1",
        "name": "Gün Seçiniz!",
        "label": "Gün Seçiniz!",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "date",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 150,
        "y": 2600,
        "wires": [
            [
                "621bff33ca929dcd"
            ]
        ]
    },
    {
        "id": "cb009de9315433fb",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "635608747a3f4d0f",
        "name": "Görev Silme",
        "label": "Görev Silme",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 270,
        "y": 1320,
        "wires": [
            [
                "82b082a887f84f3a"
            ]
        ]
    },
    {
        "id": "3b18809161a763e3",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Çalışanların görevlerini getiren fonksiyon",
        "func": "let secilenCalisanId = msg.payload;\n\n// Hem SQL sorgusunu hazırlıyoruz hem de label/value olarak isimlendiriyoruz\nmsg.topic = \"SELECT idgorev AS value, urun_adi AS label FROM gorevler WHERE idcalisanlar = \" + secilenCalisanId;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1180,
        "wires": [
            [
                "fc5821edbdf9f598"
            ]
        ]
    },
    {
        "id": "77ae8803f45b3347",
        "type": "ui-dropdown",
        "z": "76bd3c640430c768",
        "group": "635608747a3f4d0f",
        "name": "Görevleri Seç",
        "label": "Görevleri Seç",
        "tooltip": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 640,
        "y": 1260,
        "wires": [
            [
                "a8fa2714dd50fb92"
            ]
        ]
    },
    {
        "id": "82b082a887f84f3a",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Görev Silme fonksiyonu",
        "func": "// Hafızaya attığımız ID'yi geri çağırıyoruz\nlet silinecekId = global.get(\"silinecek_id\");\n\n// Kontrol: Hafıza boş mu?\nif (!silinecekId) {\n    node.error(\"Lütfen önce listeden bir görev seçin, hafıza şu an boş!\");\n    return null;\n}\n\n// Meşhur silme sorgusu\nmsg.topic = \"DELETE FROM gorevler WHERE idgorev = \" + silinecekId;\n\n// Sildikten sonra hafızayı temizleyelim ki yanlışlıkla tekrar silmeyelim\nglobal.set(\"silinecek_id\", null);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1320,
        "wires": [
            [
                "66167f318134a089"
            ]
        ]
    },
    {
        "id": "66167f318134a089",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 740,
        "y": 1320,
        "wires": [
            [
                "540e6d55a5734e9a"
            ]
        ]
    },
    {
        "id": "bc957fc1d4419ed1",
        "type": "ui-dropdown",
        "z": "76bd3c640430c768",
        "group": "635608747a3f4d0f",
        "name": "Çalışan Seçiniz",
        "label": "Çalışan Seçiniz",
        "tooltip": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "secilen_id",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "3b18809161a763e3"
            ]
        ]
    },
    {
        "id": "9bab93f2b6bbb8fb",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Dropdown'a çalışanları gönderen fonksiyon",
        "func": "let calisanlar = msg.payload; \nlet liste = [];\n\ncalisanlar.forEach(function (kisi) {\n    // Kullanıcı adı varsa yanına yaz, yoksa sadece ismi göster\n    let gosterilecekIsim = kisi.ad_soyad;\n    if (kisi.kullanici_adi) {\n        gosterilecekIsim += \" (@\" + kisi.kullanici_adi + \")\";\n    }\n\n    liste.push({\n        label: gosterilecekIsim,\n        value: kisi.idcalisanlar\n    });\n});\n\nmsg.options = liste;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1100,
        "wires": [
            [
                "bc957fc1d4419ed1"
            ]
        ]
    },
    {
        "id": "267f0904f39e4bef",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 340,
        "y": 1100,
        "wires": [
            [
                "9bab93f2b6bbb8fb"
            ]
        ]
    },
    {
        "id": "125fce1cd93f47ad",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Çalışan seçme fonksiyonu",
        "func": "// Sadece isim değil, kullanıcı adını da istiyoruz!\nmsg.topic = \"SELECT idcalisanlar, ad_soyad, kullanici_adi FROM calisanlar WHERE rol != 'admin';\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1180,
        "wires": [
            [
                "267f0904f39e4bef"
            ]
        ]
    },
    {
        "id": "467f13052e6c621e",
        "type": "inject",
        "z": "76bd3c640430c768",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1180,
        "wires": [
            [
                "125fce1cd93f47ad"
            ]
        ]
    },
    {
        "id": "b4f2827e306de6e9",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Dropdown formatlayan fonksiyon",
        "func": "// MySQL'den gelen dizi (array) artık dropdown seçenekleri olacak\nmsg.options = msg.payload; \n\n// Payload'u boşaltıyoruz ki dropdown'ın üstünde eski bir yazı kalmasın\nmsg.payload = null; \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1260,
        "wires": [
            [
                "77ae8803f45b3347"
            ]
        ]
    },
    {
        "id": "fc5821edbdf9f598",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 1280,
        "y": 1180,
        "wires": [
            [
                "b4f2827e306de6e9"
            ]
        ]
    },
    {
        "id": "a8fa2714dd50fb92",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Silinecek görev idsi kaydeden fonksiyon",
        "func": "// Dropdown'dan seçilen idgorev'i hafızaya atıyoruz\nglobal.set(\"silinecek_id\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1260,
        "wires": [
            [
                "cb009de9315433fb"
            ]
        ]
    },
    {
        "id": "dd13571afd795d6d",
        "type": "change",
        "z": "76bd3c640430c768",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Görev Eklendi!👋",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 980,
        "wires": [
            [
                "b0e81cbfa1f1d9da"
            ]
        ]
    },
    {
        "id": "b0e81cbfa1f1d9da",
        "type": "ui-notification",
        "z": "76bd3c640430c768",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 1270,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "540e6d55a5734e9a",
        "type": "change",
        "z": "76bd3c640430c768",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Görev Silindi!👋",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1320,
        "wires": [
            [
                "a6b77949cc37194a"
            ]
        ]
    },
    {
        "id": "a6b77949cc37194a",
        "type": "ui-notification",
        "z": "76bd3c640430c768",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 990,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "24610719c46b95be",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "SQL sorgu fonksiyonu",
        "func": "// MySQL node'unun çalıştıracağı sorguyu msg.topic'e atıyoruz\nmsg.topic = \"SELECT idcalisanlar, ad_soyad, kullanici_adi FROM calisanlar;\";\n\n// MySQL node'una herhangi bir parametre (input) göndermemize gerek yok \n// çünkü bu düz bir listeleme sorgusu.\nmsg.payload = [];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 180,
        "wires": [
            [
                "c135c8cf486f63c4"
            ]
        ]
    },
    {
        "id": "c135c8cf486f63c4",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "1767560b066b715e"
            ]
        ]
    },
    {
        "id": "1767560b066b715e",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Dropdown formatlayan fonksiyon",
        "func": "let calisanlar = msg.payload;\nlet liste = [];\n\ncalisanlar.forEach(function (kisi) {\n    liste.push({\n        label: kisi.ad_soyad + \" (@\" + kisi.kullanici_adi + \")\", // Yönetici kimi sildiğini görsün\n        value: kisi.idcalisanlar // Arka planda ID'yi tutuyoruz\n    });\n});\n\nmsg.options = liste;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "029e77aab8c1406d"
            ]
        ]
    },
    {
        "id": "029e77aab8c1406d",
        "type": "ui-dropdown",
        "z": "76bd3c640430c768",
        "group": "998db8fcf09cfe92",
        "name": "",
        "label": "Silmek için bir çalışan seçiniz!",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 890,
        "y": 180,
        "wires": [
            [
                "d5049c965950842a"
            ]
        ]
    },
    {
        "id": "beb75e9680c8ab7a",
        "type": "ui-button",
        "z": "76bd3c640430c768",
        "group": "998db8fcf09cfe92",
        "name": "Çalışan Sil",
        "label": "Çalışan Sil",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1390,
        "y": 180,
        "wires": [
            [
                "bd7b2fd6ee3cf3f3"
            ]
        ]
    },
    {
        "id": "bd7b2fd6ee3cf3f3",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "Personel silme fonksiyonu",
        "func": "// msg.payload yerine hafızaya baktırıyoruz\nlet id = global.get(\"silinecek_id_gecici\");\n\nif (!id) {\n    node.error(\"Hata: Silinecek personel hafızada bulunamadı!\");\n    msg.payload = \"Lütfen önce listeden bir çalışan seçin! ⚠️\";\n    return [null, msg];\n}\n\n// SQL sorgusu\nmsg.topic = \"DELETE FROM calisanlar WHERE idcalisanlar = ?\";\nmsg.payload = [id];\n\n// İşlem bittikten sonra hafızayı temizleyelim (opsiyonel ama temizlik iyidir)\nglobal.set(\"silinecek_id_gecici\", null);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "5e0cd6aa2539cda6"
            ]
        ]
    },
    {
        "id": "5e0cd6aa2539cda6",
        "type": "mysql",
        "z": "76bd3c640430c768",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "b3b2f18dfc117c20"
            ]
        ]
    },
    {
        "id": "b3b2f18dfc117c20",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "İşlem Başarılı/Değil!",
        "func": "if (msg.error) {\n    msg.payload = \"Hata oluştu: \" + msg.error.message;\n} else if (msg.payload && msg.payload.affectedRows > 0) {\n    msg.payload = \"Personel başarıyla silindi! 🗑️\";\n} else {\n    msg.payload = \"Seçilen ID bulunamadı veya zaten silinmiş. 🤔\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 300,
        "wires": [
            [
                "a37c6f15ea94a4a5",
                "24610719c46b95be"
            ]
        ]
    },
    {
        "id": "a37c6f15ea94a4a5",
        "type": "ui-notification",
        "z": "76bd3c640430c768",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 1250,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d5049c965950842a",
        "type": "function",
        "z": "76bd3c640430c768",
        "name": "ID kaydı fonksiyonu",
        "func": "// Dropdown'dan gelen ID'yi global hafızaya kaydediyoruz\nglobal.set(\"silinecek_id_gecici\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 180,
        "wires": [
            [
                "beb75e9680c8ab7a"
            ]
        ]
    },
    {
        "id": "20b1f5ffc470f47f",
        "type": "inject",
        "z": "76bd3c640430c768",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "24610719c46b95be"
            ]
        ]
    },
    {
        "id": "3afa19a78b4e9c88",
        "type": "ui-form",
        "z": "1708ab7aede6610c",
        "name": "Giriş Yap",
        "group": "5c6f1f74e66f7b45",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Kullanıcı Adı",
                "key": "kullanici_adi",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Şifre",
                "key": "sifre",
                "type": "password",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "kullanici_adi": "",
            "sifre": ""
        },
        "payload": "",
        "submit": "Giriş Yap!",
        "cancel": "Vazgeç!",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 140,
        "y": 180,
        "wires": [
            [
                "6f15b5c26948c2a4"
            ]
        ]
    },
    {
        "id": "6f15b5c26948c2a4",
        "type": "function",
        "z": "1708ab7aede6610c",
        "name": "Kullanıcı adı kontrolü",
        "func": "let data = msg.payload;\n\n\n\nif (!data.kullanici_adi || !data.sifre) {\n\n    node.error(\"Kullanıcı adı veya şifre eksik!\");\n\n    return null; // Sorguyu MySQL'e gönderme\n\n}\n\n\n\nmsg.topic = \"SELECT * FROM calisanlar WHERE kullanici_adi = ? AND sifre = ?\";\n\nmsg.payload = [data.kullanici_adi, data.sifre];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "e0156ee17fcf9b31",
                "b3550819a6c53f41"
            ]
        ]
    },
    {
        "id": "e0156ee17fcf9b31",
        "type": "mysql",
        "z": "1708ab7aede6610c",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 600,
        "y": 180,
        "wires": [
            [
                "e25b4b838120bb29"
            ]
        ]
    },
    {
        "id": "e25b4b838120bb29",
        "type": "function",
        "z": "1708ab7aede6610c",
        "name": "Giriş başarılı/değil",
        "func": "if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    let user = msg.payload[0];\n    global.set(\"kullanici_id\", user.idcalisanlar);\n    global.set(\"kullanici_adi\", user.ad_soyad);\n    let kullaniciRolu = user.rol ? user.rol.toLowerCase() : \"\";\n    global.set(\"kullanici_rolu\", kullaniciRolu);\n\n    if (kullaniciRolu === \"admin\") {\n        // --- ADMIN GİRİŞİ ---\n        msg.payload = {\n            \"tabs\": {\n                \"show\": [\"Ana Sayfa\", \"Çalışanlar\", \"Molalar\", \"Üretim\"], // Hepsini görebilir\n                \"hide\": [\"Giriş Yap\"] // Giriş yaptıktan sonra burayı gizle\n            },\n            \"tab\": \"Çalışanlar\" // Admin direkt çalışan yönetimine gitsin\n        };\n        msg.start_mesai = false;\n    } else {\n        // --- ÇALIŞAN GİRİŞİ ---\n        msg.payload = {\n            \"tabs\": {\n                \"show\": [\"Ana Sayfa\", \"Molalar\", \"Üretim\"], // Çalışan bunları görsün\n                \"hide\": [\"Çalışanlar\", \"Giriş Yap\"] // Çalışan personeli yönetemesin\n            },\n            \"tab\": \"Ana Sayfa\" // Çalışan ana sayfaya gitsin\n        };\n        msg.start_mesai = true;\n        msg.calisan_id = user.idcalisanlar;\n    }\n} else {\n    // --- GİRİŞ BAŞARISIZ ---\n    msg.payload = { \"tab\": \"Giriş Yap\" };\n    // Hata mesajı için notification tetikleyebilirsin\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 340,
        "wires": [
            [
                "729c2fec698e1ed7",
                "d12b7ac0330c9fac",
                "f7c09c677f5432a6"
            ]
        ]
    },
    {
        "id": "729c2fec698e1ed7",
        "type": "debug",
        "z": "1708ab7aede6610c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "f7c09c677f5432a6",
        "type": "ui-control",
        "z": "1708ab7aede6610c",
        "name": "",
        "ui": "3267e9190727998f",
        "events": "all",
        "x": 820,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "56069a08c41ab113",
        "type": "function",
        "z": "1708ab7aede6610c",
        "name": "İlk girişte mesai kaydı başlatan fonksiyon",
        "func": "let isim = msg.payload.user || global.get(\"kullanici_adi\") || \"Bilinmeyen\";\n\n// .toISOString() yerine yerel saati alan sv-SE formatını kullanıyoruz\nlet suAn = new Date().toLocaleString('sv-SE').replace(',', '');\n\nmsg.topic = `\n    INSERT INTO mesai_kayitlari (ad_soyad, baslangic_saati)\n    SELECT ?, ? FROM (SELECT 1) AS dummy\n    WHERE NOT EXISTS (\n        SELECT 1 FROM mesai_kayitlari\n        WHERE ad_soyad = ?\n        AND bitis_saati IS NULL\n    ) LIMIT 1;\n`;\n\nmsg.payload = [isim, suAn, isim];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "1425d0b35c4e64c6"
            ]
        ]
    },
    {
        "id": "1425d0b35c4e64c6",
        "type": "mysql",
        "z": "1708ab7aede6610c",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 1180,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d12b7ac0330c9fac",
        "type": "switch",
        "z": "1708ab7aede6610c",
        "name": "",
        "property": "start_mesai",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 380,
        "wires": [
            [
                "56069a08c41ab113"
            ],
            []
        ]
    },
    {
        "id": "b3550819a6c53f41",
        "type": "debug",
        "z": "1708ab7aede6610c",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "4ca6decf6f5bd6eb",
        "type": "inject",
        "z": "1708ab7aede6610c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 540,
        "wires": [
            [
                "4f9288f8c4f01e87"
            ]
        ]
    },
    {
        "id": "4f9288f8c4f01e87",
        "type": "function",
        "z": "1708ab7aede6610c",
        "name": "function 4",
        "func": "msg.payload = { \"tabs\": { \"hide\": [\"Ana Sayfa\", \"Çalışanlar\", \"Molalar\", \"Üretim\"] } };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "f7c09c677f5432a6"
            ]
        ]
    },
    {
        "id": "09688ace910f691d",
        "type": "function",
        "z": "fd5ce80e1888229f",
        "name": "Ara başlat",
        "func": "let isim = global.get(\"kullanici_adi\") || \"Misafir\"; // İsim gelmezse varsayılan\nlet suAn = new Date().toLocaleString('sv-SE', { timeZone: 'Europe/Istanbul' });\n\nmsg.topic = \"INSERT INTO hareketler (ad_soyad, mola_tipi, mola_baslangic) VALUES ('\" + isim + \"', 'Ara Mola', '\" + suAn + \"')\";\nmsg.payload = \"Ara Mola Başlatıldı! ☕\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "865897e63497c26b"
            ]
        ]
    },
    {
        "id": "ec3bb69d8c159d5a",
        "type": "function",
        "z": "fd5ce80e1888229f",
        "name": "Ara bitir",
        "func": "let isim = global.get(\"kullanici_adi\") || \"Misafir\";\nlet suAn = new Date().toLocaleString('sv-SE', { timeZone: 'Europe/Istanbul' });\n\nmsg.topic = \"UPDATE hareketler SET mola_bitis = '\" + suAn + \"' WHERE ad_soyad = '\" + isim + \"' AND mola_tipi = 'Ara Mola' AND mola_bitis IS NULL ORDER BY idhareketler DESC LIMIT 1\";\nmsg.payload = \"Ara Mola Bitti. Hadi iş başına! 💪\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "d2e73192eb6f564a"
            ]
        ]
    },
    {
        "id": "865897e63497c26b",
        "type": "mysql",
        "z": "fd5ce80e1888229f",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "478c15a1bdf2c513"
            ]
        ]
    },
    {
        "id": "478c15a1bdf2c513",
        "type": "change",
        "z": "fd5ce80e1888229f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ara Mola Başlatıldı! ☕",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 200,
        "wires": [
            [
                "9a5579ab9006296e"
            ]
        ]
    },
    {
        "id": "9a5579ab9006296e",
        "type": "ui-notification",
        "z": "fd5ce80e1888229f",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 970,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a6c97ae4d0484035",
        "type": "ui-button",
        "z": "fd5ce80e1888229f",
        "group": "de828c96bcc534b9",
        "name": "Ara Mola Başlat",
        "label": "Ara Mola Başlat",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "09688ace910f691d"
            ]
        ]
    },
    {
        "id": "6362951b5065ceba",
        "type": "ui-button",
        "z": "fd5ce80e1888229f",
        "group": "de828c96bcc534b9",
        "name": "Ara Mola Bitir",
        "label": "Ara Mola Bitir",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "ec3bb69d8c159d5a"
            ]
        ]
    },
    {
        "id": "d2e73192eb6f564a",
        "type": "mysql",
        "z": "fd5ce80e1888229f",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "15fafaa031cfde28"
            ]
        ]
    },
    {
        "id": "dcbc3c1f5b7f2b62",
        "type": "change",
        "z": "fd5ce80e1888229f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ara Mola Bitti. Hadi iş başına! 💪",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 300,
        "wires": [
            [
                "aa2f268e8336ecea"
            ]
        ]
    },
    {
        "id": "aa2f268e8336ecea",
        "type": "ui-notification",
        "z": "fd5ce80e1888229f",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 1550,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "087870edb4e59bbc",
        "type": "ui-button",
        "z": "fd5ce80e1888229f",
        "group": "fefbb65cc9c03b50",
        "name": "Öğle Molası Başlat",
        "label": "Öğle Molası Başlat",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "b397d0d480901361"
            ]
        ]
    },
    {
        "id": "ac26dcc4738f1907",
        "type": "change",
        "z": "fd5ce80e1888229f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Öğle Molası Bitti. Kolay gelsin! 🚀",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 480,
        "wires": [
            [
                "3d2c8568aaafb4c9"
            ]
        ]
    },
    {
        "id": "f50766bf2ea4d21f",
        "type": "change",
        "z": "fd5ce80e1888229f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Öğle Molası Başlatıldı! Afiyet olsun 🍽️",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "0d7aa2ac6a9bc7a8"
            ]
        ]
    },
    {
        "id": "0c6d7a336af7bab8",
        "type": "mysql",
        "z": "fd5ce80e1888229f",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "f50766bf2ea4d21f"
            ]
        ]
    },
    {
        "id": "0d7aa2ac6a9bc7a8",
        "type": "ui-notification",
        "z": "fd5ce80e1888229f",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 990,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "63953c8ced31e346",
        "type": "mysql",
        "z": "fd5ce80e1888229f",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 580,
        "y": 480,
        "wires": [
            [
                "fb8d6ffae878e270"
            ]
        ]
    },
    {
        "id": "3d2c8568aaafb4c9",
        "type": "ui-notification",
        "z": "fd5ce80e1888229f",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 1590,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "282c7fe2daac88ef",
        "type": "ui-button",
        "z": "fd5ce80e1888229f",
        "group": "fefbb65cc9c03b50",
        "name": "Öğle Molası Bitir",
        "label": "Öğle Molası Bitir",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "3a0d967a79d3a0e4"
            ]
        ]
    },
    {
        "id": "b397d0d480901361",
        "type": "function",
        "z": "fd5ce80e1888229f",
        "name": "Öğle arası başlat",
        "func": "let isim = global.get(\"kullanici_adi\") || \"Misafir\";\nlet suAn = new Date().toLocaleString('sv-SE', { timeZone: 'Europe/Istanbul' });\n\nmsg.topic = \"INSERT INTO hareketler (ad_soyad, mola_tipi, mola_baslangic) VALUES ('\" + isim + \"', 'Öğle Molası', '\" + suAn + \"')\";\nmsg.payload = \"Öğle Molası Başlatıldı! Afiyet olsun 🍽️\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "0c6d7a336af7bab8"
            ]
        ]
    },
    {
        "id": "3a0d967a79d3a0e4",
        "type": "function",
        "z": "fd5ce80e1888229f",
        "name": "Öğle arası bitir",
        "func": "let isim = global.get(\"kullanici_adi\") || \"Misafir\";\nlet suAn = new Date().toLocaleString('sv-SE', { timeZone: 'Europe/Istanbul' });\n\nmsg.topic = \"UPDATE hareketler SET mola_bitis = '\" + suAn + \"' WHERE ad_soyad = '\" + isim + \"' AND mola_tipi = 'Öğle Molası' AND mola_bitis IS NULL ORDER BY idhareketler DESC LIMIT 1\";\nmsg.payload = \"Öğle Molası Bitti. Kolay gelsin! 🚀\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "63953c8ced31e346"
            ]
        ]
    },
    {
        "id": "15fafaa031cfde28",
        "type": "function",
        "z": "fd5ce80e1888229f",
        "name": "Moladan dönüp dönmediğini kontrol eden fonksiyon",
        "func": "let isim = global.get(\"kullanici_adi\") || \"Misafir\";\nlet molaTipi = \"Ara Mola\";\n\n// Sorguyu oluştururken backtick (`) içindeki satır sonu boşluklarına dikkat\nmsg.topic = `\n    INSERT INTO mola_asimlari (ad_soyad, mola_tipi, planlanan_sure, gerceklesen_sure, fark)\n    SELECT \n        h.ad_soyad, \n        h.mola_tipi, \n        k.planlanan_sure, \n        TIMESTAMPDIFF(MINUTE, h.mola_baslangic, h.mola_bitis),\n        (TIMESTAMPDIFF(MINUTE, h.mola_baslangic, h.mola_bitis) - k.planlanan_sure)\n    FROM hareketler h\n    INNER JOIN mola_kurallari k ON h.mola_tipi = k.mola_tipi\n    WHERE h.ad_soyad = '${isim}' \n    AND h.mola_tipi = '${molaTipi}'\n    AND h.mola_bitis IS NOT NULL\n    AND TIMESTAMPDIFF(MINUTE, h.mola_baslangic, h.mola_bitis) > k.planlanan_sure\n    ORDER BY h.idhareketler DESC \n    LIMIT 1;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 300,
        "wires": [
            [
                "7e41bb3fdc4279f3"
            ]
        ]
    },
    {
        "id": "7e41bb3fdc4279f3",
        "type": "mysql",
        "z": "fd5ce80e1888229f",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 1180,
        "y": 300,
        "wires": [
            [
                "dcbc3c1f5b7f2b62"
            ]
        ]
    },
    {
        "id": "fb8d6ffae878e270",
        "type": "function",
        "z": "fd5ce80e1888229f",
        "name": "Öğle molasından dönüp dönmediğini kontrol eden fonksiyon",
        "func": "let isim = global.get(\"kullanici_adi\") || \"Misafir\";\nlet molaTipi = \"Öğle Molası\";\n\n// Sorguyu oluştururken backtick (`) içindeki satır sonu boşluklarına dikkat\nmsg.topic = `\n    INSERT INTO mola_asimlari (ad_soyad, mola_tipi, planlanan_sure, gerceklesen_sure, fark)\n    SELECT \n        h.ad_soyad, \n        h.mola_tipi, \n        k.planlanan_sure, \n        TIMESTAMPDIFF(MINUTE, h.mola_baslangic, h.mola_bitis),\n        (TIMESTAMPDIFF(MINUTE, h.mola_baslangic, h.mola_bitis) - k.planlanan_sure)\n    FROM hareketler h\n    INNER JOIN mola_kurallari k ON h.mola_tipi = k.mola_tipi\n    WHERE h.ad_soyad = '${isim}' \n    AND h.mola_tipi = '${molaTipi}'\n    AND h.mola_bitis IS NOT NULL\n    AND TIMESTAMPDIFF(MINUTE, h.mola_baslangic, h.mola_bitis) > k.planlanan_sure\n    ORDER BY h.idhareketler DESC \n    LIMIT 1;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 480,
        "wires": [
            [
                "b55e7dd191305dc2"
            ]
        ]
    },
    {
        "id": "b55e7dd191305dc2",
        "type": "mysql",
        "z": "fd5ce80e1888229f",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 1220,
        "y": 480,
        "wires": [
            [
                "ac26dcc4738f1907"
            ]
        ]
    },
    {
        "id": "9ee1af2756522d5a",
        "type": "ui-button",
        "z": "4182bb2dd9af4b39",
        "group": "bd0f7070cd87736f",
        "name": "Molalar",
        "label": "Molalar",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 860,
        "y": 80,
        "wires": [
            [
                "b411994478f7eee9"
            ]
        ]
    },
    {
        "id": "8b15e832a6be94c3",
        "type": "ui-button",
        "z": "4182bb2dd9af4b39",
        "group": "bd0f7070cd87736f",
        "name": "Üretim",
        "label": "Üretim",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 850,
        "y": 140,
        "wires": [
            [
                "ec79028a5e74fca6"
            ]
        ]
    },
    {
        "id": "b411994478f7eee9",
        "type": "function",
        "z": "4182bb2dd9af4b39",
        "name": "Mola sayfasına geçiren fonksiyon",
        "func": "msg.payload = \"Molalar\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 80,
        "wires": [
            [
                "2ea0b39cb3191aac"
            ]
        ]
    },
    {
        "id": "ec79028a5e74fca6",
        "type": "function",
        "z": "4182bb2dd9af4b39",
        "name": "Üretim Sayfasına Geçiren Fonksiyon",
        "func": "msg.payload = \"Üretim\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "3f57357281e717a1"
            ]
        ]
    },
    {
        "id": "2ea0b39cb3191aac",
        "type": "ui-control",
        "z": "4182bb2dd9af4b39",
        "name": "",
        "ui": "3267e9190727998f",
        "events": "all",
        "x": 1320,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3f57357281e717a1",
        "type": "ui-control",
        "z": "4182bb2dd9af4b39",
        "name": "",
        "ui": "3267e9190727998f",
        "events": "all",
        "x": 1320,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ab1fe367fd273552",
        "type": "function",
        "z": "4182bb2dd9af4b39",
        "name": "Mesai bitirme fonksiyonu",
        "func": "let isim = global.get(\"kullanici_adi\");\nlet suAn = new Date().toLocaleString('sv-SE');\n\nmsg.topic = \"UPDATE mesai_kayitlari SET bitis_saati = '\" + suAn + \"' WHERE ad_soyad = '\" + isim + \"' AND bitis_saati IS NULL\";\n\n\nmsg.payload = \"Mesai Bitirildi. Eline sağlık \" + isim + \" 👋\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "96b5d4c8c9a116aa"
            ]
        ]
    },
    {
        "id": "3cde5c307f4340c0",
        "type": "ui-button",
        "z": "4182bb2dd9af4b39",
        "group": "bd0f7070cd87736f",
        "name": "Mesai Bitir",
        "label": "Mesai Bitir",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "ab1fe367fd273552"
            ]
        ]
    },
    {
        "id": "96b5d4c8c9a116aa",
        "type": "mysql",
        "z": "4182bb2dd9af4b39",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "8cc5edea19c17bc9"
            ]
        ]
    },
    {
        "id": "9738ae050ab32411",
        "type": "ui-notification",
        "z": "4182bb2dd9af4b39",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 930,
        "y": 360,
        "wires": [
            [
                "9739da923c83511f"
            ]
        ]
    },
    {
        "id": "8cc5edea19c17bc9",
        "type": "change",
        "z": "4182bb2dd9af4b39",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Mesai Bitirildi. Eline sağlık 👋",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 360,
        "wires": [
            [
                "9738ae050ab32411"
            ]
        ]
    },
    {
        "id": "1e9183d89c4ee212",
        "type": "ui-template",
        "z": "4182bb2dd9af4b39",
        "group": "6dc45e98444f3f43",
        "page": "",
        "ui": "",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div class=\"weather-widget\">\n    <div class=\"time-section\">\n        <h1 id=\"clock\">{{msg.time}}</h1>\n        <p id=\"date\">{{msg.date}}</p>\n    </div>\n    <div class=\"weather-section\">\n        <span class=\"weather-icon\">☀️</span>\n        <span class=\"temp\">22°C</span>\n        <p class=\"city\">İstanbul</p>\n    </div>\n</div>\n\n<style>\n    .weather-widget {\n        background: linear-gradient(135deg, #1e1e2f 0%, #2d2d44 100%);\n        color: white;\n        padding: 20px;\n        border-radius: 15px;\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);\n        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n    }\n    .time-section h1 {\n        font-size: 2.5rem;\n        margin: 0;\n        font-weight: 300;\n    }\n    .time-section p {\n        margin: 0;\n        color: #a0a0c0;\n    }\n    .weather-section {\n        text-align: right;\n    }\n    .weather-icon {\n        font-size: 2rem;\n    }\n    .temp {\n        font-size: 1.8rem;\n        font-weight: bold;\n        display: block;\n    }\n    .city {\n        margin: 0;\n        font-size: 0.9rem;\n        color: #ffcc00;\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8f5d16d36bccd392",
        "type": "inject",
        "z": "4182bb2dd9af4b39",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "7cd81c1a26fcdc80"
            ]
        ]
    },
    {
        "id": "7cd81c1a26fcdc80",
        "type": "function",
        "z": "4182bb2dd9af4b39",
        "name": "Gün ve saat fonksiyonu",
        "func": "let d = new Date();\nmsg.time = d.toLocaleTimeString('tr-TR', { hour12: false });\nmsg.date = d.toLocaleDateString('tr-TR', { weekday: 'long', day: 'numeric', month: 'long' });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "1e9183d89c4ee212"
            ]
        ]
    },
    {
        "id": "8151c55b307f6303",
        "type": "openweathermap",
        "z": "4182bb2dd9af4b39",
        "name": "Ayşe Türkü ARSLAN",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Istanbul",
        "country": "Türkiye",
        "language": "tr",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "1e9183d89c4ee212"
            ]
        ]
    },
    {
        "id": "b038b3302a9087ee",
        "type": "inject",
        "z": "4182bb2dd9af4b39",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "8151c55b307f6303"
            ]
        ]
    },
    {
        "id": "ad7390efccc66339",
        "type": "inject",
        "z": "4182bb2dd9af4b39",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "86337ff386e778e0"
            ]
        ]
    },
    {
        "id": "86337ff386e778e0",
        "type": "function",
        "z": "4182bb2dd9af4b39",
        "name": "Karşılama yazısı fonksiyonu",
        "func": "\nlet isim = global.get(\"kullanici_adi\") || \"Misafir\";\n\n\nmsg.payload = \"Merhaba \" + isim;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 80,
        "wires": [
            [
                "c46bcb186a5358d7"
            ]
        ]
    },
    {
        "id": "c46bcb186a5358d7",
        "type": "ui-text",
        "z": "4182bb2dd9af4b39",
        "group": "6dc45e98444f3f43",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "9739da923c83511f",
        "type": "function",
        "z": "4182bb2dd9af4b39",
        "name": "Giriş Yap sayfasına atan fonksiyon",
        "func": "msg.payload = \"Giriş Yap\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 360,
        "wires": [
            [
                "ea250949ffcc7d51"
            ]
        ]
    },
    {
        "id": "ea250949ffcc7d51",
        "type": "ui-control",
        "z": "4182bb2dd9af4b39",
        "name": "",
        "ui": "3267e9190727998f",
        "events": "all",
        "x": 1240,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e3857bbed1b6e3b1",
        "type": "function",
        "z": "4182bb2dd9af4b39",
        "name": "Haftalık üretimin hesabını yapan fonksiyon",
        "func": "let sql = `\nSELECT \n    m.ad_soyad,\n    u_detay.urun_adi,\n    -- Ürün Bazlı Haftalık Toplam: Her günün MAX değerlerini alıp ürün özelinde topluyoruz\n    u_detay.haftalik_urun_toplam,\n    -- Toplam Mesai (Saat)\n    ROUND(SUM(TIMESTAMPDIFF(SECOND, m.baslangic_saati, IFNULL(m.bitis_saati, NOW()))) / 3600, 1) as toplam_mesai,\n    -- Toplam Mola (Saat)\n    ROUND((SELECT IFNULL(SUM(TIMESTAMPDIFF(SECOND, h.mola_baslangic, IFNULL(h.mola_bitis, NOW()))), 0)\n           FROM hareketler h \n           WHERE h.ad_soyad = m.ad_soyad \n           AND h.mola_baslangic >= DATE_SUB(NOW(), INTERVAL 7 DAY)) / 3600, 1) as toplam_mola\nFROM mesai_kayitlari m\nINNER JOIN (\n    -- Her personel ve her ürün için günlük MAX değerleri toplayan alt sorgu\n    SELECT ad_soyad, urun_adi, SUM(gunluk_max_adet) as haftalik_urun_toplam\n    FROM (\n        SELECT ad_soyad, urun_adi, DATE(kayit_zamani) as gun, MAX(adet) as gunluk_max_adet\n        FROM uretim\n        WHERE kayit_zamani >= DATE_SUB(NOW(), INTERVAL 7 DAY)\n        GROUP BY ad_soyad, urun_adi, gun\n    ) as iç_tablo\n    GROUP BY ad_soyad, urun_adi\n) u_detay ON m.ad_soyad = u_detay.ad_soyad\nWHERE m.baslangic_saati >= DATE_SUB(NOW(), INTERVAL 7 DAY)\nGROUP BY m.ad_soyad, u_detay.urun_adi\nORDER BY haftalik_urun_toplam DESC;\n`;\n\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 540,
        "wires": [
            [
                "3bfcc762d74a6d8f"
            ]
        ]
    },
    {
        "id": "3bfcc762d74a6d8f",
        "type": "mysql",
        "z": "4182bb2dd9af4b39",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 700,
        "y": 540,
        "wires": [
            [
                "bc6999f2ad3df08f"
            ]
        ]
    },
    {
        "id": "bc6999f2ad3df08f",
        "type": "function",
        "z": "4182bb2dd9af4b39",
        "name": "Haftalık lideri gösteren fonksiyon",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    let sampiyon = msg.payload[0];\n\n    // Mavi tonları ve antrasit yazı renkleri ile güncellenmiş tasarım\n    msg.template = `\n        <div style=\"background: linear-gradient(145deg, #2c3e50, #1a1a1a); \n                    color: #ffffff; \n                    padding: 20px; \n                    border-radius: 15px; \n                    text-align: center; \n                    \n                    border: 5px solid #800000;\">\n            \n            <h2 style=\"margin:0; font-size: 1.2em; text-transform: uppercase; letter-spacing: 2px; color: #87CEEB;\">\n                🏆 Haftalık Üretim Lideri 🏆\n            </h2>\n            \n            <h1 style=\"margin:10px 0; font-size: 2.2em; font-weight: 900; color: #800000;\">\n                ${sampiyon.ad_soyad}\n            </h1>\n            \n            <div style=\"background: #800000; padding: 10px; border-radius: 10px; display: inline-block; min-width: 200px; border: 1px solid #87CEEB;\">\n                <p style=\"margin:0; font-weight:bold; color: #87CEEB;\">${sampiyon.urun_adi} Üretimi</p>\n                <p style=\"margin:5px 0 0 0; font-size: 1.8em; font-weight: bold;\">${sampiyon.haftalik_urun_toplam} Adet</p>\n            </div>\n            \n            <p style=\"margin-top:15px; font-size: 0.9em; font-style: italic; color: #87CEEB; opacity: 0.9;\">\n                Toplam Mesai: <span style=\"color: #ffffff; font-weight: bold;\">${sampiyon.toplam_mesai} Saat</span>\n            </p>\n        </div>\n    `;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 540,
        "wires": [
            [
                "8f979f317ef5d3eb"
            ]
        ]
    },
    {
        "id": "8f979f317ef5d3eb",
        "type": "ui-template",
        "z": "4182bb2dd9af4b39",
        "group": "b9941145ff5e9f40",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div v-html=\"msg.template\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b88ccb618d2557f9",
        "type": "inject",
        "z": "4182bb2dd9af4b39",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "e3857bbed1b6e3b1"
            ]
        ]
    },
    {
        "id": "e89f78967ce2c6ac",
        "type": "ui-button",
        "z": "311a65859e64ca00",
        "group": "ce9f0463e06f708d",
        "name": "Toplam Üretim Miktarı",
        "label": "Toplam Üretim Miktarı",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "f944f885d7205a1d"
            ]
        ]
    },
    {
        "id": "40993c6d980c6356",
        "type": "ui-table",
        "z": "311a65859e64ca00",
        "group": "ce9f0463e06f708d",
        "name": "Günlük Rapor",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Çalışan",
                "key": "ad_soyad",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Tarih/Saat",
                "key": "son_kayit_zamani",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Ürün",
                "key": "urun_adi",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Miktar",
                "key": "toplam_adet",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 920,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f944f885d7205a1d",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Üretilen ürün sayısını veren fonksiyon",
        "func": "let isim = global.get(\"kullanici_adi\") || \"Bilinmiyor\";\n\n// DATE_FORMAT kullanarak saati SQL seviyesinde sabitliyoruz.\n// %Y-%m-%d %H:%i:%s formatı MySQL'deki görünümün aynısını metin olarak döndürür.\n\nmsg.topic = `\n    SELECT \n        ad_soyad, \n        urun_adi, \n        MAX(adet) as toplam_adet, \n        DATE_FORMAT(MAX(kayit_zamani), '%Y-%m-%d %H:%i:%s') as son_kayit_zamani \n    FROM uretim \n    WHERE ad_soyad = '${isim}' \n    AND DATE(kayit_zamani) = CURDATE() \n    GROUP BY urun_adi \n    ORDER BY MAX(kayit_zamani) DESC\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "c1c5b6fa489eba26"
            ]
        ]
    },
    {
        "id": "c1c5b6fa489eba26",
        "type": "mysql",
        "z": "311a65859e64ca00",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 700,
        "y": 80,
        "wires": [
            [
                "40993c6d980c6356"
            ]
        ]
    },
    {
        "id": "7dcd8e8258888598",
        "type": "inject",
        "z": "311a65859e64ca00",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "cbdd1044535b4b84"
            ]
        ]
    },
    {
        "id": "cbdd1044535b4b84",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Görev seçme fonksiyonu",
        "func": "// Giriş yaparken kaydettiğimiz ID'yi alıyoruz\nlet id = global.get(\"kullanici_id\");\n\n// 1. Adım: ID kontrolü (if li kısım)\nif (!id) {\n    node.error(\"Kullanıcı ID bulunamadı! İşlem durduruldu.\");\n    return null; // ID yoksa akışı durdurur\n}\n\n// 2. Adım: Sorguyu oluşturma\n// Not: id sayısal bir değerse direkt yazılır, string ise '${id}' şeklinde tırnak gerekebilir.\nmsg.topic = `SELECT DISTINCT urun_adi FROM gorevler WHERE idcalisanlar = ${id} AND tarih <= CURDATE()`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "e7fec698ce2ac8bb"
            ]
        ]
    },
    {
        "id": "e7fec698ce2ac8bb",
        "type": "mysql",
        "z": "311a65859e64ca00",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 580,
        "y": 300,
        "wires": [
            [
                "997220c321bf2e8c",
                "ea3ddf4327933c5b"
            ]
        ]
    },
    {
        "id": "997220c321bf2e8c",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Dorpdown a görevleri ileten fonksiyon",
        "func": "let rows = msg.payload;\nlet dropdownOptions = [];\n\n// Gelen veri array değilse veya boşsa diye kontrol ekliyoruz\nif (rows && rows.length > 0) {\n    rows.forEach(function(row) {\n        dropdownOptions.push({\n            label: String(row.urun_adi), \n            value: String(row.urun_adi)\n        });\n    });\n} else {\n    // Eğer veri yoksa dropdown'da \"Görev Bulunamadı\" yazsın ki çalıştığını anlayalım\n    dropdownOptions.push({label: \"Görev Atanmamış\", value: \"yok\"});\n}\n\n// LİSTEYİ PAKETLİYORUZ:\nmsg.payload = \"\"; \nmsg.options = dropdownOptions;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 300,
        "wires": [
            [
                "3d8df9bb4a520526"
            ]
        ]
    },
    {
        "id": "a96fc49abe670c0b",
        "type": "change",
        "z": "311a65859e64ca00",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "urun_adi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3d8df9bb4a520526",
        "type": "ui-dropdown",
        "z": "311a65859e64ca00",
        "group": "d924164d8f1c4347",
        "name": "Görev Seç",
        "label": "Görev Seç",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "options",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 1130,
        "y": 300,
        "wires": [
            [
                "a96fc49abe670c0b"
            ]
        ]
    },
    {
        "id": "480685b4ac70f516",
        "type": "ui-number-input",
        "z": "311a65859e64ca00",
        "group": "d924164d8f1c4347",
        "name": "Adet",
        "label": "Adet",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100000",
        "step": 1,
        "tooltip": "Ürettiğiniz sayıyı giriniz!",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "83b3071cf5edf494"
            ]
        ]
    },
    {
        "id": "83b3071cf5edf494",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Elle girilen sayıyı ekleme fonksiyonu",
        "func": "// 1. Giriş yapanın adını ve seçili ürünü alıyoruz\nlet hamIsim = global.get(\"kullanici_adi\") || \"Bilinmiyor\";\nlet hamUrun = flow.get(\"urun_adi\") || \"Urun_Secilmedi\";\n\n// 2. Boşlukları alt tire ile değiştiriyoruz \nlet isim = hamIsim.toString().replace(/\\s+/g, '_');\nlet urun = hamUrun.toString().replace(/\\s+/g, '_');\n\n// 3. Kişiye ve ürüne özel anahtarımızı oluşturuyoruz\n\nlet anahtar = \"uretim_\" + isim + \"_\" + urun;\n\n// 4. Mevcut sayıyı hafızadan çekiyoruz \nlet eskiMiktar = flow.get(anahtar) || 0;\n\n// 5. Gelen yeni sayıyı (Numeric Input'tan gelen) ekliyoruz\n\nlet yeniMiktar = Number(eskiMiktar) + Number(msg.payload);\n\n// 6. Yeni toplamı bu kişiye ve ürüne özel olarak hafızaya yazıyoruz\nflow.set(anahtar, yeniMiktar);\n\n// 7. Ekranda (veya sonraki node'da) görmek için sonucu gönderiyoruz\nmsg.payload = yeniMiktar;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "e97b6c9e6769b5fe"
            ]
        ]
    },
    {
        "id": "e97b6c9e6769b5fe",
        "type": "ui-button",
        "z": "311a65859e64ca00",
        "group": "d924164d8f1c4347",
        "name": "Kaydet",
        "label": "Kaydet",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "a6bfa4a2dc263ffc"
            ]
        ]
    },
    {
        "id": "610d5f9b990cd5f1",
        "type": "ui-notification",
        "z": "311a65859e64ca00",
        "ui": "3267e9190727998f",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 870,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a6bfa4a2dc263ffc",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Kaydetme Fonksiyonu",
        "func": "let hamIsim = global.get(\"kullanici_adi\") || \"Bilinmiyor\";\nlet hamUrun = flow.get(\"urun_adi\");\n\nif (!hamUrun || hamUrun === \"Urun_Secilmedi\") {\n    node.error(\"Ürün seçili olmadığı için kaydedilemiyor!\");\n    return null;\n}\n\n// Anahtar ve miktar işlemleri\nlet isimAnahtar = hamIsim.toString().replace(/\\s+/g, '_');\nlet urunAnahtar = hamUrun.toString().replace(/\\s+/g, '_');\nlet anahtar = \"uretim_\" + isimAnahtar + \"_\" + urunAnahtar;\n\nlet sonMiktar = flow.get(anahtar) || 0;\n\nif (sonMiktar <= 0) {\n    node.warn(\"Üretim miktarı 0 olduğu için kaydedilmedi.\");\n    return null;\n}\n\n// MySQL uyumlu manuel tarih formatı (YYYY-MM-DD HH:MM:SS)\nlet d = new Date();\nlet suAn = d.getFullYear() + '-' +\n    ('0' + (d.getMonth() + 1)).slice(-2) + '-' +\n    ('0' + d.getDate()).slice(-2) + ' ' +\n    ('0' + d.getHours()).slice(-2) + ':' +\n    ('0' + d.getMinutes()).slice(-2) + ':' +\n    ('0' + d.getSeconds()).slice(-2);\n\n// SQL Sorgusu\nmsg.topic = \"INSERT INTO uretim (ad_soyad, urun_adi, adet, kayit_zamani) VALUES ('\" + hamIsim + \"', '\" + hamUrun + \"', \" + sonMiktar + \", '\" + suAn + \"')\";\n\nmsg.payload = hamIsim + \" için \" + hamUrun + \" üretimi (\" + sonMiktar + \") başarıyla kaydedildi! ✅\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 460,
        "wires": [
            [
                "b0f365fd437c540d"
            ]
        ]
    },
    {
        "id": "1ccd2dfadf7dd853",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Button ile ürün sayısı ekleme fonksiyonu",
        "func": "let hamIsim = global.get(\"kullanici_adi\") || \"Bilinmiyor\";\nlet hamUrun = flow.get(\"urun_adi\"); // Hafızadaki ürün ismini çekiyoruz\n\n// KONTROL: Eğer ürün seçilmediyse kodu burada durduruyoruz\nif (!hamUrun || hamUrun === \"Urun_Secilmedi\" || hamUrun === \"\") {\n    node.error(\"HATA: Önce ürün seçmelisin!\");\n    return null; // Aşağıdaki işlemleri yapma, hafızayı kirletme\n}\n\n// Boşluk temizliği (Anahtar oluşturmak için)\nlet isim = hamIsim.toString().replace(/\\s+/g, '_');\nlet urun = hamUrun.toString().replace(/\\s+/g, '_');\nlet anahtar = \"uretim_\" + isim + \"_\" + urun;\n\n// Mevcut miktarı al\nlet miktar = flow.get(anahtar) || 0;\n\n// Diğer arttırma buttonları için sadece buradaki artisMiktari kısmının değerini değiştireceğiz \nlet artisMiktari = 1;\nmiktar = Number(miktar) + artisMiktari;\n\n// Yeni miktarı hafızaya yaz\nflow.set(anahtar, miktar);\n\n// Ekranda (Numeric Input veya Text'te) görmek için gönder\nmsg.payload = miktar;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "81150d66ad9228a9",
                "a6bfa4a2dc263ffc"
            ]
        ]
    },
    {
        "id": "2384b4dbf8851aaf",
        "type": "ui-button",
        "z": "311a65859e64ca00",
        "group": "d924164d8f1c4347",
        "name": "+1 Üret",
        "label": "+1 Üret",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "1ccd2dfadf7dd853"
            ]
        ]
    },
    {
        "id": "81150d66ad9228a9",
        "type": "change",
        "z": "311a65859e64ca00",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "+1 adet eklendi! ✅",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 560,
        "wires": [
            [
                "610d5f9b990cd5f1"
            ]
        ]
    },
    {
        "id": "b0f365fd437c540d",
        "type": "mysql",
        "z": "311a65859e64ca00",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 1120,
        "y": 460,
        "wires": [
            [
                "ac65a122686a7b88"
            ]
        ]
    },
    {
        "id": "ac65a122686a7b88",
        "type": "change",
        "z": "311a65859e64ca00",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ürün Adedi Kaydedildi! ✅",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 520,
        "wires": [
            [
                "ac77ba4ed3a136c1"
            ]
        ]
    },
    {
        "id": "ac77ba4ed3a136c1",
        "type": "ui-notification",
        "z": "311a65859e64ca00",
        "ui": "3267e9190727998f",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 1150,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "15d0e7aad500ca33",
        "type": "ui-button",
        "z": "311a65859e64ca00",
        "group": "d924164d8f1c4347",
        "name": "+5 Üret",
        "label": "+5 Üret",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "2f40dbd90aacf68d"
            ]
        ]
    },
    {
        "id": "2f40dbd90aacf68d",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Button ile ürün sayısı ekleme fonksiyonu",
        "func": "let hamIsim = global.get(\"kullanici_adi\") || \"Bilinmiyor\";\nlet hamUrun = flow.get(\"urun_adi\"); // Hafızadaki ürün ismini çekiyoruz\n\n// KONTROL: Eğer ürün seçilmediyse kodu burada durduruyoruz\nif (!hamUrun || hamUrun === \"Urun_Secilmedi\" || hamUrun === \"\") {\n    node.error(\"HATA: Önce ürün seçmelisin!\");\n    return null; // Aşağıdaki işlemleri yapma, hafızayı kirletme\n}\n\n// Boşluk temizliği (Anahtar oluşturmak için)\nlet isim = hamIsim.toString().replace(/\\s+/g, '_');\nlet urun = hamUrun.toString().replace(/\\s+/g, '_');\nlet anahtar = \"uretim_\" + isim + \"_\" + urun;\n\n// Mevcut miktarı al\nlet miktar = flow.get(anahtar) || 0;\n\n// DİKKAT: Buradaki rakamı butonuna göre değiştir! (+5 butonuysa 5 yap)\nlet artisMiktari = 5;\nmiktar = Number(miktar) + artisMiktari;\n\n// Yeni miktarı hafızaya yaz\nflow.set(anahtar, miktar);\n\n// Ekranda (Numeric Input veya Text'te) görmek için gönder\nmsg.payload = miktar;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 720,
        "wires": [
            [
                "c58aa88fa5d919dc",
                "a6bfa4a2dc263ffc"
            ]
        ]
    },
    {
        "id": "c58aa88fa5d919dc",
        "type": "change",
        "z": "311a65859e64ca00",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "+5 adet eklendi! ✅",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 720,
        "wires": [
            [
                "22c03769f3cccdb3"
            ]
        ]
    },
    {
        "id": "22c03769f3cccdb3",
        "type": "ui-notification",
        "z": "311a65859e64ca00",
        "ui": "3267e9190727998f",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 870,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "fd793cdeef4ae0a2",
        "type": "ui-button",
        "z": "311a65859e64ca00",
        "group": "d924164d8f1c4347",
        "name": "+10 Üret",
        "label": "+10 Üret",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 840,
        "wires": [
            [
                "115dbb2a5b01422b"
            ]
        ]
    },
    {
        "id": "115dbb2a5b01422b",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Button ile ürün sayısı ekleme fonksiyonu",
        "func": "let hamIsim = global.get(\"kullanici_adi\") || \"Bilinmiyor\";\nlet hamUrun = flow.get(\"urun_adi\"); // Hafızadaki ürün ismini çekiyoruz\n\n// KONTROL: Eğer ürün seçilmediyse kodu burada durduruyoruz\nif (!hamUrun || hamUrun === \"Urun_Secilmedi\" || hamUrun === \"\") {\n    node.error(\"HATA: Önce ürün seçmelisin!\");\n    return null; // Aşağıdaki işlemleri yapma, hafızayı kirletme\n}\n\n// Boşluk temizliği (Anahtar oluşturmak için)\nlet isim = hamIsim.toString().replace(/\\s+/g, '_');\nlet urun = hamUrun.toString().replace(/\\s+/g, '_');\nlet anahtar = \"uretim_\" + isim + \"_\" + urun;\n\n// Mevcut miktarı al\nlet miktar = flow.get(anahtar) || 0;\n\n// DİKKAT: Buradaki rakamı butonuna göre değiştir! (+5 butonuysa 5 yap)\nlet artisMiktari = 10; \nmiktar = Number(miktar) + artisMiktari;\n\n// Yeni miktarı hafızaya yaz\nflow.set(anahtar, miktar);\n\n// Ekranda (Numeric Input veya Text'te) görmek için gönder\nmsg.payload = miktar;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 840,
        "wires": [
            [
                "455a69284235ae7d",
                "a6bfa4a2dc263ffc"
            ]
        ]
    },
    {
        "id": "455a69284235ae7d",
        "type": "change",
        "z": "311a65859e64ca00",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "+10 adet eklendi! ✅",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 840,
        "wires": [
            [
                "8237a35e3ecd02e7"
            ]
        ]
    },
    {
        "id": "8237a35e3ecd02e7",
        "type": "ui-notification",
        "z": "311a65859e64ca00",
        "ui": "3267e9190727998f",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 890,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "61c6abe59e9446f3",
        "type": "ui-button",
        "z": "311a65859e64ca00",
        "group": "d924164d8f1c4347",
        "name": "+25 Üret",
        "label": "+25 Üret",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "ca6810c8740b7811"
            ]
        ]
    },
    {
        "id": "ca6810c8740b7811",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Button ile ürün sayısı ekleme fonksiyonu",
        "func": "let hamIsim = global.get(\"kullanici_adi\") || \"Bilinmiyor\";\nlet hamUrun = flow.get(\"urun_adi\"); // Hafızadaki ürün ismini çekiyoruz\n\n// KONTROL: Eğer ürün seçilmediyse kodu burada durduruyoruz\nif (!hamUrun || hamUrun === \"Urun_Secilmedi\" || hamUrun === \"\") {\n    node.error(\"HATA: Önce ürün seçmelisin!\");\n    return null; // Aşağıdaki işlemleri yapma, hafızayı kirletme\n}\n\n// Boşluk temizliği (Anahtar oluşturmak için)\nlet isim = hamIsim.toString().replace(/\\s+/g, '_');\nlet urun = hamUrun.toString().replace(/\\s+/g, '_');\nlet anahtar = \"uretim_\" + isim + \"_\" + urun;\n\n// Mevcut miktarı al\nlet miktar = flow.get(anahtar) || 0;\n\n// DİKKAT: Buradaki rakamı butonuna göre değiştir! (+5 butonuysa 5 yap)\nlet artisMiktari = 25; \nmiktar = Number(miktar) + artisMiktari;\n\n// Yeni miktarı hafızaya yaz\nflow.set(anahtar, miktar);\n\n// Ekranda (Numeric Input veya Text'te) görmek için gönder\nmsg.payload = miktar;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1020,
        "wires": [
            [
                "0100e3cdd1f7d8c6",
                "a6bfa4a2dc263ffc"
            ]
        ]
    },
    {
        "id": "0100e3cdd1f7d8c6",
        "type": "change",
        "z": "311a65859e64ca00",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "+25 adet eklendi! ✅",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1020,
        "wires": [
            [
                "9b06b39a05a8da98"
            ]
        ]
    },
    {
        "id": "9b06b39a05a8da98",
        "type": "ui-notification",
        "z": "311a65859e64ca00",
        "ui": "3267e9190727998f",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 950,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "8b2de7774075b270",
        "type": "ui-button",
        "z": "311a65859e64ca00",
        "group": "d924164d8f1c4347",
        "name": "+50 Üret",
        "label": "+50 Üret",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "2fa5faa27d1c0fb0"
            ]
        ]
    },
    {
        "id": "2fa5faa27d1c0fb0",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Button ile ürün sayısı ekleme fonksiyonu",
        "func": "let hamIsim = global.get(\"kullanici_adi\") || \"Bilinmiyor\";\nlet hamUrun = flow.get(\"urun_adi\"); // Hafızadaki ürün ismini çekiyoruz\n\n// KONTROL: Eğer ürün seçilmediyse kodu burada durduruyoruz\nif (!hamUrun || hamUrun === \"Urun_Secilmedi\" || hamUrun === \"\") {\n    node.error(\"HATA: Önce ürün seçmelisin!\");\n    return null; // Aşağıdaki işlemleri yapma, hafızayı kirletme\n}\n\n// Boşluk temizliği (Anahtar oluşturmak için)\nlet isim = hamIsim.toString().replace(/\\s+/g, '_');\nlet urun = hamUrun.toString().replace(/\\s+/g, '_');\nlet anahtar = \"uretim_\" + isim + \"_\" + urun;\n\n// Mevcut miktarı al\nlet miktar = flow.get(anahtar) || 0;\n\n// DİKKAT: Buradaki rakamı butonuna göre değiştir! (+5 butonuysa 5 yap)\nlet artisMiktari = 50; \nmiktar = Number(miktar) + artisMiktari;\n\n// Yeni miktarı hafızaya yaz\nflow.set(anahtar, miktar);\n\n// Ekranda (Numeric Input veya Text'te) görmek için gönder\nmsg.payload = miktar;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "17c170af39afac97",
                "a6bfa4a2dc263ffc"
            ]
        ]
    },
    {
        "id": "17c170af39afac97",
        "type": "change",
        "z": "311a65859e64ca00",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "+50 adet eklendi! ✅",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1160,
        "wires": [
            [
                "a5b2e7f6958adec7"
            ]
        ]
    },
    {
        "id": "a5b2e7f6958adec7",
        "type": "ui-notification",
        "z": "311a65859e64ca00",
        "ui": "3267e9190727998f",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 950,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "a620b11556cf8393",
        "type": "ui-button",
        "z": "311a65859e64ca00",
        "group": "d924164d8f1c4347",
        "name": "+100 Üret",
        "label": "+100 Üret",
        "order": 9,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 1300,
        "wires": [
            [
                "1e874ec47d34ce99"
            ]
        ]
    },
    {
        "id": "1e874ec47d34ce99",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Button ile ürün sayısı ekleme fonksiyonu",
        "func": "let hamIsim = global.get(\"kullanici_adi\") || \"Bilinmiyor\";\nlet hamUrun = flow.get(\"urun_adi\"); // Hafızadaki ürün ismini çekiyoruz\n\n// KONTROL: Eğer ürün seçilmediyse kodu burada durduruyoruz\nif (!hamUrun || hamUrun === \"Urun_Secilmedi\" || hamUrun === \"\") {\n    node.error(\"HATA: Önce ürün seçmelisin!\");\n    return null; // Aşağıdaki işlemleri yapma, hafızayı kirletme\n}\n\n// Boşluk temizliği (Anahtar oluşturmak için)\nlet isim = hamIsim.toString().replace(/\\s+/g, '_');\nlet urun = hamUrun.toString().replace(/\\s+/g, '_');\nlet anahtar = \"uretim_\" + isim + \"_\" + urun;\n\n// Mevcut miktarı al\nlet miktar = flow.get(anahtar) || 0;\n\n// DİKKAT: Buradaki rakamı butonuna göre değiştir! (+5 butonuysa 5 yap)\nlet artisMiktari = 100; \nmiktar = Number(miktar) + artisMiktari;\n\n// Yeni miktarı hafızaya yaz\nflow.set(anahtar, miktar);\n\n// Ekranda (Numeric Input veya Text'te) görmek için gönder\nmsg.payload = miktar;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1300,
        "wires": [
            [
                "efe3906e0272e577",
                "a6bfa4a2dc263ffc"
            ]
        ]
    },
    {
        "id": "efe3906e0272e577",
        "type": "change",
        "z": "311a65859e64ca00",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "+100 adet eklendi! ✅",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 1300,
        "wires": [
            [
                "343e4b6d09c4f599"
            ]
        ]
    },
    {
        "id": "343e4b6d09c4f599",
        "type": "ui-notification",
        "z": "311a65859e64ca00",
        "ui": "3267e9190727998f",
        "position": "top center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 950,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "93e12fbd588455bf",
        "type": "ui-button",
        "z": "311a65859e64ca00",
        "group": "ce9f0463e06f708d",
        "name": "Tabloyu Temizle",
        "label": "Tabloyu Temizle",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "1c43bf58f768fd66"
            ]
        ]
    },
    {
        "id": "1c43bf58f768fd66",
        "type": "function",
        "z": "311a65859e64ca00",
        "name": "Tabloyu temizleme fonksiyonu",
        "func": "// Tabloya boş bir liste gönderiyoruz, böylece ekran temizleniyor\nmsg.payload = []; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 180,
        "wires": [
            [
                "40993c6d980c6356"
            ]
        ]
    },
    {
        "id": "ea3ddf4327933c5b",
        "type": "debug",
        "z": "311a65859e64ca00",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "418b2c0162a436b0",
        "type": "inject",
        "z": "da67f5c48ec6881b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "8643c8745bf183b7"
            ]
        ]
    },
    {
        "id": "8643c8745bf183b7",
        "type": "function",
        "z": "da67f5c48ec6881b",
        "name": "Sorguyu Hazırla",
        "func": "// Akıllı Kontrol: hareketler tablosunu mola_kurallari ile JOIN yaparak kıyaslıyoruz\nmsg.topic = `\n    SELECT \n        h.ad_soyad, \n        h.mola_tipi, \n        TIMESTAMPDIFF(MINUTE, h.mola_baslangic, NOW()) as su_anki_sure,\n        k.planlanan_sure\n    FROM hareketler h\n    JOIN mola_kurallari k ON h.mola_tipi = k.mola_tipi\n    WHERE h.mola_bitis IS NULL \n    AND TIMESTAMPDIFF(MINUTE, h.mola_baslangic, NOW()) > k.planlanan_sure;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "4e849028dea99594"
            ]
        ]
    },
    {
        "id": "4e849028dea99594",
        "type": "mysql",
        "z": "da67f5c48ec6881b",
        "mydb": "cd1bc961ce7336ef",
        "name": "",
        "x": 600,
        "y": 180,
        "wires": [
            [
                "e81854f2e4068e05"
            ]
        ]
    },
    {
        "id": "e81854f2e4068e05",
        "type": "function",
        "z": "da67f5c48ec6881b",
        "name": "Maili Formatlayan İkinci Function",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    let mesajMetni = \"Sayın Yönetici,\\n\\nŞu anda tanımlı mola limitlerini aşan personeller tespit edilmiştir:\\n\\n\";\n    \n    msg.payload.forEach(kisi => {\n        let asimMiktari = kisi.su_anki_sure - kisi.planlanan_sure;\n        mesajMetni += `• ${kisi.ad_soyad}\\n`;\n        mesajMetni += `  Mola Türü: ${kisi.mola_tipi}\\n`;\n        mesajMetni += `  Kural: ${kisi.planlanan_sure} dk | Şu anki Süre: ${kisi.su_anki_sure} dk\\n`;\n        mesajMetni += `  Aşım: ${asimMiktari} dakikadır limitin üzerinde.\\n`;\n        mesajMetni += `-----------------------------------\\n`;\n    });\n    \n    mesajMetni += \"\\nBilgilerinize sunulur.\";\n    \n    msg.payload = mesajMetni;\n    msg.topic = \"⚠️ OTOMATİK UYARI: Mola Limiti Aşımı!\"; \n    return msg;\n}\n\n// Kimse limiti aşmadıysa mail gönderme\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 180,
        "wires": [
            [
                "136dd53ad656e602"
            ]
        ]
    },
    {
        "id": "136dd53ad656e602",
        "type": "e-mail",
        "z": "da67f5c48ec6881b",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "turkud12@gmail.com",
        "dname": "Bildirim maili",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "c734aa4503ad9f61",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-mysql": "3.0.0",
            "node-red-node-openweathermap": "1.0.1",
            "node-red-node-email": "5.2.3"
        }
    }
]